# Discord Bot Token (Used to make the bot work)
TOKEN=YOUR_DISCORD_BOT_TOKEN

# Discord Application Credentials (Used for authentication)
# Find these on: https://discord.com/developers/applications
CLIENT_ID=YOUR_DISCORD_CLIENT_ID
CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET
REDIRECT_URI=http://localhost:3000/api/auth/callback

# Session security (Random string used to sign cookie sessions)
SESSION_SECRET=some_random_bullshit_whatever_you_want

# Server listening port
PORT=3000
